
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div id="title_search"> Nearby Hot Spots! </div>
  <div id='div_list'>
    <ol id="marker_list">
    </ol>
  </div>
  <div id="googleMap" >
  </div>

  <script>
    var searchTerm = "<%= params[:EnterSite] %>";
  </script>

  <div>
    <h6>Text your Friends to Meet You Here!</h6>
    </div>


    <!-- <h6><form> -->


  <%= form_tag('/text') do %>
<%= label_tag :phone%>

  <%= text_field_tag :phone%>
   <div>
        <%= label_tag :name %>
     <input type="text" id="name_sender" name="firstname" value="Ricky Bobby">

   </div>


      <input type="text" id="mbody_text">
      <button id="mapbutton" name="EnterSite" type="submit">Submit</button>
    <% end %>
    <div>

    </div>
  </body>
  </html>
